version: 2
updates:
  # Non breaking changes will be grouped in a single PR. This way we can see
  # on the CI if any minor update accidentally broke our code.
  # Breaking changes will create individual PRs.
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      minor-and-patch-updates:
        patterns:
          - "*"
        update-types: ["minor", "patch"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
